<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Member Form</title>
  </head>
  <body>
    <%if(locals.user.role_id < 2){%>
    <form action="/secret-member" method="POST">
      <input
        size="45"
        type="text"
        placeholder="What's the secret password? Hint: Its literally secret :P"
        name="member"
      />

      <%- include("./partials/errors.ejs")%>
      <button>Submit</button>
    </form>
    <%}%> <%if(locals.user.role_id != 3){%>
    <form action="admin-member" method="POST">
      <input
        size="45"
        type="text"
        name="admin"
        placeholder="What's the secret to be admin? Hint: Its literally admin :P"
      />
      <button>Submit</button>
      <%- include("./partials/errors.ejs")%>
    </form>
    <%}%>
  </body>
</html>
