<h1>File Form</h1>
<form
  action="/upload-file"
  method="POST"
  enctype="multipart/form-data"
  id="upload-file"
>
  <input
    type="text"
    value="<%=folder.folder_name%>"
    name="folder_name"
    hidden
  />
  <input type="text" name="folder_id" value="<%=folder.folder_id%>" hidden />
  <label for="file">Upload your file:</label>

  <input type="file" name="file" id="file" multiple />

  <button>Submit</button>
</form>
