<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home</h1>
    <div>
      <a href="/form-genre">
        <button>Create / Update Genres</button>
      </a>
      <a href="/form-game">
        <button>Create / Update Games</button>
      </a>
    </div>
    <%- include("./partials/genreList") %>
    <main><%- include("./partials/gameList")%></main>
  </body>
</html>
