<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Index</title>
  </head>
  <body>
    <%if(!locals.user){%>
    <h1>
      Welcome to File_Uploader! Please Login or Sign Up to access the tools
    </h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <%}else{%>
    <form method="POST" action="/logout">
      <button>Log Out</button>
    </form>

    <%- include("./partials/createFolder.ejs")%> <%if(locals.folders){%>
    <%-include("./partials/folderList.ejs",)%> <%}%> <%}%>

    <script>
      const deleteFolderBtns = document.querySelectorAll(".deleteFolderBtn");
      for (const deleteBtn of deleteFolderBtns) {
        deleteBtn.addEventListener("click", (e) => {
          const folderId = e.target.parentElement.id;
          fetch(`http://localhost:8080/folder/${folderId}`, {
            method: "DELETE",
          })
            .then((res) => {
              const redirectURL = res.url;
              console.log(redirectURL);
              window.location.replace(redirectURL);
            })
            .catch((err) => console.error(err));
        });
      }
    </script>
  </body>
</html>
